<div id="batches"></div>

<%= render 'upload' %>

<%= render 'search' %>

<% unless @documents['results'].blank? %>

  <p>
    You are at page <%= @documents['pagination']['current_page'] %>
    of <%= @documents['pagination']['total_pages'] %>.<br/>
    Showing <%= @documents['results'].size %> of
    <%= @documents['pagination']['total_entries'] %> documents.
  </p>

  <p> <%= pagination @documents %> </p>

  <br class="clear"/>

  <% for document in @documents['results'] %>
    <%= render 'document', :document => document %>
  <% end %>

<% else %>
  <p>
    Your account doesn't have any documents yet or your seach did not return any results.
  </p>
<% end %>

<%= render 'batches_javascript' %>